body {
  background: #f4f4f4;
  font-family: 'FantasqueSansMono', monospace;
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 2em;
  font-weight: normal;
}
h1 {
  margin-top: 1em;
}
h1:before,
h2:before {
  content: "$ ";
}

a,
h1:before,
h2:before {
  font-weight: bold;
  color: #468;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a.not-special {
  font-weight: normal;
}

.content {
  width: 739px;
  margin: 0 auto;
}

header {
  margin: 0 0 3em;
}

header h1 small {
  margin-left: 2em;
  font-size: 1rem;
}

button,
.button {
  margin: 0;
  display: inline-block;
  padding: 0.2em 0.5em;
  background: #555;
  color: #ccc;
  border: none;
  border-radius: 3px;
  font-weight: normal;
  font: inherit;
  cursor: pointer;
}
button.sad,
.button.sad {
  color: #846;
  background: transparent;
  border: 1px dotted #846;
}
button.sad:hover,
.button.sad:hover {
  background: #846;
  color: #fff;
}
button,
a.button {
  background: #468;
  color: #fff;
}
a.button:hover {
  text-decoration: none;
}

table.recent-events {
  font-size: 0.8em;
}
table.recent-events .button {
  opacity: 0.3;
}
.recent-events tr:nth-child(2n) {
  background: #e6e6e6;
}
.recent-events tr:hover {
  background: #d8d8d8;
}
.recent-events tr:hover .button {
  opacity: 1;
}

code {
  display: inline-block;
  padding: 0 0.2em;
  font-family: 'FantasqueSansMono', monospace;
  background: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #468;
}

.notice {
  padding: 0.5em 1em;
  border-left: 3px solid #663;
  background: #eea;
  color: #663;
}

.inline {
  display: inline-block;
}

.messages {
  margin: 3em 0 1em;
  padding: 0;
}
.message {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.message:before {
  content: "# ";
  color: #468;
}

.post-body h1 {
  font-size: 1.3em;
  font-weight: bold;
}
.post-body h2 {
  font-size: 1.2em;
  font-weight: normal;
}
.post-body h1:before,
.post-body h2:before {
  content: "";
  display: none;
}
