body {
  background: #f4f4f4;
  font-family: 'FantasqueSansMono', monospace;
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 2em;
  font-weight: normal;
}
h1 {
  margin-top: 1em;
}
h1:before {
  content: "$ ";
}

a,
h1:before,
h2:before,
.ps1 {
  font-weight: bold;
  color: #468;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a.not-special {
  font-weight: normal;
}

.content {
  width: 739px;
  margin: 0 auto;
}

header {
  margin: 0 0 3em;
}

header h1 small {
  margin-left: 2em;
  font-size: 1rem;
}

button,
.button {
  margin: 0;
  display: inline-block;
  padding: 0.2em 0.5em;
  background: #555;
  color: #ccc;
  border: none;
  border-radius: 3px;
  font-weight: normal;
  font: inherit;
  cursor: pointer;
}
button.sad,
.button.sad {
  color: #846;
  background: transparent;
  border: 1px dotted #846;
}
button.sad:hover,
.button.sad:hover {
  background: #846;
  color: #fff;
}
button.ooo,
.button.ooo {
  color: #486;
  background: transparent;
  border: 1px dotted #486;
}
button.ooo:hover,
.button.ooo:hover {
  background: #486;
  color: #fff;
}
button,
a.button {
  background: #468;
  color: #fff;
}
a.button:hover {
  text-decoration: none;
}
:not(.button).sad {
  color: #846;
}

table.recent-events {
  font-size: 0.8em;
}
table.recent-events .button {
  opacity: 0.3;
}
.recent-events tr:nth-child(2n) {
  background: #e6e6e6;
}
.recent-events tr:hover {
  background: #d8d8d8;
}
.recent-events tr:hover .button {
  opacity: 1;
}
.show-post-body {
  display: inline-block;
  font-size: 1.5em;
  line-height: 0.3em;
  height: 0.3em;
  padding: 0 0.3em 0.2em;
  color: #fff;
  background: #468;
}
.show-post-body:hover {
  text-decoration: none;
}
.recent-events .post-body {
  white-space: pre-wrap;
}

code {
  display: inline-block;
  padding: 0 0.2em;
  font-family: 'FantasqueSansMono', monospace;
  background: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #468;
}
.codehilite code {
  padding: 0;
  background: transparent;
  border-width: 0;
  border-radius: 0;
  color: inherit;
  max-width: 100%;
  overflow-x: auto;
}

.notice {
  padding: 0.5em 1em;
  border-left: 3px solid #663;
  background: #eea;
  color: #663;
}

.inline {
  display: inline-block;
}

.messages {
  margin: 3em 0 1em;
  padding: 0;
}
.message {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.message:before {
  content: "# ";
  color: #468;
}

.token {
  background: #ded;
  border-left: 2px solid #468;
  font-size: 0.8rem;
  padding: 1em;
  margin: 1rem 0;
}
.token h4 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0 0 1rem;
}
.token h4 small {
  font-size: 0.8rem;
  font-weight: normal;
}
.token p:last-child {
  margin-bottom: 0;
}

.post-body h1 {
  font-size: 1.3em;
  font-weight: bold;
}
.post-body h2 {
  font-size: 1.2em;
  font-weight: normal;
}
.post-body h1:before,
.post-body h2:before {
  content: "";
  display: none;
}

.auth-confirm {
  background:  #fff;
  border: 2px solid #468;
  max-width: 24em;
  margin: 5em auto 2em;
}
.auth-confirm h2 {
  margin: 2rem 2rem 1rem;
}
.auth-confirm .scope {
  margin: 2rem 2rem;
}
.auth-confirm .buttons {
  display: block;
  margin: 2rem;
}
.auth-confirm .current-login {
  background: #cde;
  padding: 1rem 2rem;
}
.auth-confirm .current-login p {
  margin: 0;
}

.error-page {
  margin-top: 8em;
}
.error-page h1 {
  font-size: 1.5em;
}
.error-page h1:before {
  display: none;
}

/* Thank you H5BP */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.rerender-preview-compare {
  display: flex;
  justify-content: space-between;
}
.rerender-preview-compare > div {
  flex: 0 1 48%;
}
.rerender-title {
  margin: 0.667em 0 1.333em;
}

.ask_about_gh_email {
  border: 1px solid #468;
  padding: 0 1em;
  margin: 0 -1em;
  border-radius: 0.25em;
  background-color: aliceblue;
}
