<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}$ commit --blog{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='img/dash-b.png') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/syntax.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
  </head>
  <body>
    <div class="content">
      {% block content %}
      {% endblock %}
    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-1110199-27', 'commit--blog.com');
      ga('send', 'pageview');
    </script>
  </body>
</html>
