{% extends 'base.html' %}

{% block content %}

  <h1>commit --blog</h1>
  
  <h2>{% if current_user.password is none %}Set{% else %}Update{% endif %} your account password</h2>

  <form method="post" action="">
    {{ form.csrf_token }}
    <div>
      {% for error in form.new_password.errors %}
        <p>New password: {{ error }}</p>
      {% endfor %}
      {{ form.new_password.label }}
      {{ form.new_password(placeholder='abc123') }}
    </div>
    <div>
      {% for error in form.confirm_password.errors %}
        <p>Confirm password: {{ error }}</p>
      {% endfor %}
      {{ form.confirm_password.label }}
      {{ form.confirm_password(placeholder='abc123') }}
    </div>
    <div>
      <button type="submit">Set password</button>
    </div>
  </form>

{% endblock %}
